.card.card--file.file.file--pdf{data: {id: file.id}}
  .media
    = image_tag image_path("pdf_icon.png"), height: 20, width: 20, class: "media__img"
    .media_body
      %header.card__header
        %h1
          = File.basename(file.pdf.path)
      .card__body
        %ul
          %li
            %a.btn.btn--small.btn--grey
              Rename File
          %li
            %a.btn.btn--small.btn--grey
              New Contract From File
          %li
            %a.btn.btn--small.btn--grey
              Add To Contract
